<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, user-scalable=no">
		<title>
			{% block title %}SOS Harcel
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Kite+One" rel="stylesheet">

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
			<link rel="stylesheet" href="{{ asset('style/app.css') }}">
			<link rel="stylesheet" href="{{ asset('style/responsive.css') }}">

			<link rel="icon" type="image/png" href="{{ asset('/images/favicon.png') }}">
		{% endblock %}
	</head>
	<body>

		<header>

			<h1><img src="{{ asset('/images/logo.png') }}">Sos Harcel</h1>

			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<a href="{{ path('logout') }}" id="disconnect">
					<span class="fa fa-sign-out"></span>Deconnexion</a>
			{% else %}
				{% if app.request.pathinfo == '/register' %}
					<a href="{{ path('login') }}">
						<span class="fa fa-user"></span>Se connecter</a>
				{% else %}
					<a href="{{ path('register') }}">
						<span class="fa fa-user-plus"></span>S'inscrire</a>
				{% endif %}
			{% endif %}

		</header>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<p id="recall">Ceci est un site de soutien pour les personnes victime de harcélement scolaire</p>
			<ul id="displayUser">
				<li>{{ app.user.pseudo }}</li>
				{% if app.request.attributes.get('_route') == "pageUser" %}
					<li>
						<a href="{{ path('home') }}">Tous les messages</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('pageUser', {'userId': app.user.id}) }}">Vos messages</a>
					</li>
				{% endif %}
			</ul>
		{% endif %}


		{% block body %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</body>
</html>
